<main>
    {{#if errorMessage}}
    <div>
        <div class="errorContainer">
            <p>{{errorMessage}}</p>
        </div>
    </div>
    {{/if}}

    <section id="edit-container">
        <div class="edit-container-info">
            <h1>Edit Announcement</h1>
            <form method="POST">
                <label>Name:</label>
                <input type="text" id="name" name="name" value="{{offer.name}}">
                <label>Image:</label>
                <input type="text" id="image" name="image" value="{{offer.image}}">
                <label>Price:</label>
                <input type="number" id="price" name="price" value="{{offer.price}}">
                <label>Description:</label>
                <textarea name="cryptoDescription" id="description">{{offer.cryptoDescription}}</textarea>
                <label>Payment method:</label>
                <select id="payment" name="paymentMethod">
                    <option value="crypto-wallet" {{#selected "crypto-wallet" offer.paymentMethod}}{{/selected}}>Crypto
                        Wallet</option>
                    <option value="credit-card" {{#selected "credit-card" offer.paymentMethod}}{{/selected}}>Credit Card
                    </option>
                    <option value="debit-card" {{#selected "debit-card" offer.paymentMethod}}{{/selected}}>Debit Card
                    </option>
                    <option value="paypal" {{#selected "paypal" offer.paymentMethod}}{{/selected}}>PayPal</option>
                </select>
                {{!-- <select id="payment" name="paymentMethod">
                    <option value="crypto-wallet" {{#if selectedPaymentMethod.cryptoWallet}}selected{{/if}}>Crypto
                        Wallet</option>
                    <option value="credit-card" {{#if selectedPaymentMethod.creditCard}}selected{{/if}}>Credit Card
                    </option>
                    <option value="debit-card" {{#if selectedPaymentMethod.debitCard}}selected{{/if}}>Debit Card
                    </option>
                    <option value="paypal" {{#if selectedPaymentMethod.paypal}}selected{{/if}}>PayPal</option>
                </select> --}}
                <input type="submit" id="btn" value="EDIT"></input>
            </form>
        </div>
    </section>
</main>